@import "variables.scss";
//导航条颜色配置
.van-nav-bar {
  //背景颜色
  background: $navBarTitileBackground;
  height: $navBarTitileHeight;
  line-height: $navBarTitileHeight;
  //字体颜色
  .van-nav-bar__title {
    color: $navBarTitileFontColor;
    font-size: $navBarTitileFontSize;
  }
  .van-nav-bar__text {
    color: $navBarTitileFontColor;
  }
  .van-icon {
    color: $navBarTitileFontColor;
    font-size: 1.5rem;
  }
}

.van-cell {
  border-bottom: 1px solid #f0f0f0;
  padding: 0.6878rem 0.78049rem;
  .van-cell__title {
    font-size: 0.955rem;
    color: #999999;
  }
  .van-field__label {
    width: 5.39024rem;
  }
  .van-field__body {
    input[type="text"] {
      font-size: 0.955rem;
    }
  }
}